################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Boost_Asio_Test/Boost_Asio_Test.VC.db
